Assets/3rdAssets/Instructments/Shevles/simple-wooden-wall-shelves-type-c filter=lfs diff=lfs merge=lfs -text
Assets/3rdAssets/Instructments/Shevles/simple-wooden-wall-shelves-type-c/source/Sketchfab_2024_07_07_20_46_01.blend filter=lfs diff=lfs merge=lfs -text
